.last-swiper {
  width: 100%;
  padding: 10px 0;
}

.last-swiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}

.last-swiper .swiper-slide img {
  width: 110%;
  height:110%;
  object-fit: contain;
}

.last-swiper .swiper-pagination {
  position: relative;
  margin-top: 20px; /* هرچقدر می‌خوای زیاد و کمش کن */
}
